.oxbow-tracker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5f6f8 !important;
  color: #333333 !important;
  transition: background .5s ease-in;
}

.oxbow-tracker:hover {
  background: #d4d4d4 !important;
  transition: background .5s ease-out;
}

.oxbow-tracker.running {
  background: mediumseagreen !important;
  color: white !important;
  transition: background .5s ease-out;
}